body  {
    margin-bottom: 210px;
}

.h1 {
    margin-bottom: 15px;
}

article {
    margin: 15px 0 30px 0;
}

.network {
    width: 100%;
    position: fixed;
    bottom: -130px;
    margin: 0;
    height: 20px;
    min-height: 190px;
    overflow: auto;
    white-space: nowrap;

    background-color: white;
    border-top: solid 1px lightgray;
    cursor: pointer;

    transition: 0.25s ease-in-out;
    background-color: rgb(250,250,255);
}

.network.selected {
    transform: translate(0,-130px);
    background-color: white;
    cursor: default;
}

.close-network {
    position: fixed;
    z-index: 9999;
    right: 0;
    bottom: 150px;
    padding: 10px;

    transition: opacity 0s ease-in-out 0s;
    opacity: 0;   
}

.close-network.selected {
    cursor: pointer;

    transition: opacity 0.25s ease-in-out 0.25s;    
    opacity: 1;
}

.user-container {
    display: inline-block;
    width: 30%;
    padding: 15px 10px 15px 10px;
}

.card > .card-block > ol {
    font-size: 14px;
    overflow: hidden;
}

.user {
    font-size: 14px;
    vertical-align: bottom;
}

.user>h2 {
    margin-top: 3px;
    margin-bottom: 3px;
}

.user .hover-to-see {
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
}

.user .hover-to-see:hover {
    text-overflow: inherit;
    width: inherit;
    white-space: normal;
}

/* Bootstrap custom */
@media (min-width: 1200px) {
    .container {
        width: 960px;
    }
}

.btn {
    cursor: pointer;    
}

.container {
    margin-top: 30px;    
    margin-bottom: 15px;    
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.popover{
    max-width: 600px;
}